<% provide(:title, 'About Me') %>
<h1>About Me</h1>
<p>
	My name is Aaron Carlson, I graduated California State University (CSU) - Chico December 2013 with a Bachelor of Science degree in Business Information Systems (option: Management Information Systems) and a minor in Production and Operations Management.</br>
	</br>
	I can be reached using the following methods: </br>
	Email: acarlson90@gmail.com </br>
	<a href="https://www.linkedin.com/profile/view?id=127975993&trk">Linkedin Account</a>
</p>